version: "3.5"

networks:
    n1:
      external: false
services:
  mydbcc:
    image: mydbcc-${H_WMLAB_PRODUCTS_VERSION}
    container_name: ${H_WMLAB_PJ_NAME}-wm-dbcc-initializer
    hostname: wm-dbcc-initializer
    networks:
      - n1
    volumes:
      - ../unixShellLib/scripts/:/mnt/scripts/lib/
      - ./scripts/:/mnt/scripts/local/
      - ${H_RUNS_FOLDER}:${H_WMLAB_RUN_BASE_MOUNT_POINT}
    environment:
      - WMLAB_RUN_BASE_MOUNT=${H_WMLAB_RUN_BASE_MOUNT_POINT}
      - WMLAB_TAKE_SNAPHOTS=${H_WMLAB_TAKE_SNAPHOTS}
      - WMLAB_DEBUG_ON=${H_WMLAB_DEBUG_ON}
      - WMLAB_PRODUCTS_VERSION=${H_WMLAB_PRODUCTS_VERSION}
      - WMLAB_SQLSERVER_HOSTNAME=${H_WMLAB_SQLSERVER_HOSTNAME}
      - WMLAB_SQLSERVER_DATABASE_NAME=${H_WMLAB_SQLSERVER_DATABASE_NAME}
      - WMLAB_SQLSERVER_USER_NAME=${H_WMLAB_SQLSERVER_USER_NAME}
      - WMLAB_SQLSERVER_PASSWORD=${H_WMLAB_SQLSERVER_PASSWORD}
      - WMLAB_SQLSERVER_SA_PASSWORD=${H_WMLAB_SQLSERVER_SA_PASSWORD}
      - WMLAB_DBCC_INSTALL_HOME=${H_WMLAB_DBCC_INSTALL_HOME}
    entrypoint: /mnt/scripts/local/${H_WMLAB_PRODUCTS_VERSION}/initSqlServerDbEntryPoint.sh