[ req ]
default_bits = 4096
default_md = sha256
prompt = no
utf8 = yes
encrypt_key = no
distinguished_name = dn
req_extensions = req_ext
x509_extensions = usr_cert

[ dn ]
C = $LAB_CA_Country
ST = $LAB_CA_Region
L = $LAB_CA_City
O = $LAB_CA_Organization
CN = $FQDN

[ req_ext ]
subjectAltName = @my_subject_alt_names
extendedKeyUsage = serverAuth, clientAuth, codeSigning, emailProtection
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectKeyIdentifier=hash

[ usr_cert ]
subjectAltName = @my_subject_alt_names
basicConstraints=CA:FALSE
nsCertType = client, server, email
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth, codeSigning, emailProtection
nsComment = "OpenSSL Generated Certificate"
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer

[ my_subject_alt_names ]
